<!doctype html>
<html>
    <head>
        <title>Richiesta di reimpostazione password</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://triviapatente.it:8000{{url_for('static', filename='css/forgot_password.css')}}">
        <script type="text/javascript" src="https://triviapatente.it:8000{{url_for('static', filename='assets/jquery.min.js')}}"></script>
    </head>
    <body>
          <div class="page">
              <center>
                  <img class="app-logo" src="https://triviapatente.it:8000{{url_for('static', filename='images/logo.png')}}">
                  <h2 class="display-1 text-white">Trivia Patente</h2>
                  <p class="lead text-white subtitle">Richiesta di reimpostazione password</p>
              </center>
              {% block body %}{% endblock %}
              <p class="lead small text-white copyright"><small>Copyright © 2017 TriviaPatente. All rights reserved.</small></p>
          </div>
    </body>


<script type="text/javascript" src="https://triviapatente.it:8000{{url_for('static', filename='assets/bootstrap/js/bootstrap.min.js')}}"></script>
</html>
