<!doctype html>
<h1>Cambiamento password</h1>

{% if success %}
    <p>Cambiamento password effettuato</p>
{% else %}
    <p>Errore nel cambiamento della password. Richiedine la possibilità</p>
{% endif %}
